<h1>
    <%= title %>
</h1>

<!-- flash messages -->
<%- messages() %>

    <% if (errors && errors.length> 0) { %>
        <ul class="errors">
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
    <% } %>
</p>

<!-- managment links -->
<form class="all-forms">
    <ul class="managment-menu">
        <li><a href="/inv/add-classification" class="menu-btn">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" class="menu-btn">Add New Inventory Item</a></li>
    </ul>

    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items</p>
    <%- classificationList %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page</noscript>
</form>

<script src="../../js/inventory.js"></script>